@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-Bold.eot');
    src: url('../fonts/BaseGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-Bold.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-Bold.woff') format('woff'),
        url('../fonts/BaseGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-Regular.eot');
    src: url('../fonts/BaseGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-Regular.woff') format('woff'),
        url('../fonts/BaseGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-ThinItalic.eot');
    src: url('../fonts/BaseGrotesk-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-ThinItalic.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-ThinItalic.woff') format('woff'),
        url('../fonts/BaseGrotesk-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-BoldItalic.eot');
    src: url('../fonts/BaseGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-BoldItalic.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-BoldItalic.woff') format('woff'),
        url('../fonts/BaseGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-LightItalic.eot');
    src: url('../fonts/BaseGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-LightItalic.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-LightItalic.woff') format('woff'),
        url('../fonts/BaseGrotesk-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-Black.eot');
    src: url('../fonts/BaseGrotesk-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-Black.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-Black.woff') format('woff'),
        url('../fonts/BaseGrotesk-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-Medium.eot');
    src: url('../fonts/BaseGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-Medium.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-Medium.woff') format('woff'),
        url('../fonts/BaseGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-Light.eot');
    src: url('../fonts/BaseGrotesk-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-Light.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-Light.woff') format('woff'),
        url('../fonts/BaseGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-Thin.eot');
    src: url('../fonts/BaseGrotesk-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-Thin.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-Thin.woff') format('woff'),
        url('../fonts/BaseGrotesk-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-BlackItalic.eot');
    src: url('../fonts/BaseGrotesk-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-BlackItalic.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-BlackItalic.woff') format('woff'),
        url('../fonts/BaseGrotesk-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-MediumItalic.eot');
    src: url('../fonts/BaseGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-MediumItalic.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-MediumItalic.woff') format('woff'),
        url('../fonts/BaseGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BaseGrotesk';
    src: url('../fonts/BaseGrotesk-RegularItalic.eot');
    src: url('../fonts/BaseGrotesk-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BaseGrotesk-RegularItalic.woff2') format('woff2'),
        url('../fonts/BaseGrotesk-RegularItalic.woff') format('woff'),
        url('../fonts/BaseGrotesk-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --bg-color: white;
    --txt-color: black;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    font-family: $ff;
    font-weight: normal;
    font-style: normal;
    background-color: var(--bg-color);
    color: var(--txt-color);
    font-size: 2rem;
    line-height: 1.34;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.gallery-is-open {
        --bg-color: white;
        --txt-color: black;
    }

    &.gallery-is-closed {
        --bg-color: black;
        --txt-color: white;
    }

}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    line-height: 1;
    font-size: unset;
}

strong, b {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

p {
    line-height: 1.25em;

    &:first-child,
    &:only-child {
        margin-top: 0
    }

    &:last-child,
    &:only-child {
        margin-bottom: 0
    }

}


