$gutter: 4rem;

$sm : 576px;
$md: 768px;
$lg: 992px;
$xl: 1350px;
$xxl: 1700px;

$ff: 'BaseGrotesk';

$black: #000;
$white: #FFF;

$space-xxs: $gutter/2;
$space-xs: $gutter/3*2;
$space-sm: $gutter;
$space-md: $gutter/2*3;
$space-lg: $gutter * 2;
$space-xl: $gutter/2*5;
$space-2xl: $gutter*3;
$space-3xl: $gutter*5;
$space-4xl: $gutter*6;

$radius: .5em;
