.window-info {
    position: fixed;
    display: flex;
    align-items: center;
    width: 550px;
    max-height: 100vh;
    right: $gutter;
    bottom: $gutter;
    padding: $gutter*4 $gutter;
    @include fs-sm;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(7px);
    border-radius: 5px;
    transition: visibility .1s ease-in-out, opacity .1s ease-in-out;
    z-index: 50;

    .gallery-is-open & {
        background-color: rgba(245,245,245,0.75);
    }

    .gallery-is-closed & {
        background-color: rgba(15, 15, 15, .75);
    }

    p {
        text-indent: 3em;
    }

    a {
        color: currentColor;
    }

    @media (max-width: $sm){
        padding: $gutter/2;
        width: 100%;
        height: calc(100vh - $gutter*3);
        top: $gutter*1.5;
        background-color: $white;
        left: 0;
        @include fs-xs;

        .gallery-is-open & {
            background-color: $white;
        }

        .gallery-is-closed & {
            background-color: $black;
        }
    }
}

.window-exhibitions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 450px;
    max-height: 100vh;
    border: none;
    backdrop-filter: unset;
    opacity: 0;
    visibility: hidden;
    transition: visibility .1s ease-in-out, opacity .1s ease-in-out;
    z-index: 40;

    .window__wrapper {
        height: 100%;
        max-height: 100vh;
        width: 100%;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        >div {
            padding: $gutter $gutter/2;

        }
    }

    @media (max-width: $sm){
        width: 100%;
        height: calc(100vh - $gutter*3);
        top: $gutter*1.5;
        background-color: $white;
        left: 0;

        .window__wrapper {
            height: 100%;
        }

        .gallery-is-closed & {
            background-color: $black;
        }
    }
}

.screen-bounds-exhibitions {
    position: fixed;
    top: 0;
    left: $gutter/2;
    width: calc(100% - $gutter);
    height: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    @media (max-width: $md){
        top: $gutter / 2;
        height: calc(100% - $gutter);
    }
}

.screen-bounds-infos {
    position: fixed;
    top: $gutter;
    left: $gutter;
    width: calc(100% - $gutter*2);
    height: calc(100% - $gutter*2);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    // background-color: red;

    @media (max-width: $md){
        top: $gutter/4;
        left: $gutter/4;
        width: calc(100% - ($gutter / 2));
        height: calc(100% - ($gutter / 2));
    }
}

.is-open {
    opacity: 1;
    visibility: visible;
}

.window-info__item {
    position: absolute;
    @include fs-xs;
}

a.window-info__item {
    color: currentColor;
}

.window-info__item--address,
.window-info__item--mail {
    top: $gutter;

    @media (max-width: $sm){
        top: $gutter/2;
    }
}

.window-info__item--ig,
.window-info__item--nl {
    bottom: $gutter;

    @media (max-width: $sm){
        bottom: $gutter/2;
    }
}

.window-info__item--address,
.window-info__item--ig {
    left: $gutter;

    @media (max-width: $sm){
        left: $gutter/2;
    }
}

.window-info__item--mail,
.window-info__item--nl {
    right: $gutter;

    @media (max-width: $sm){
        right: $gutter/2;
    }
}