button {
    all: unset;
    cursor: pointer;
}

.close-window {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    border: 1px solid $white;
    border-radius: 50%;
    background-color: black;
}