button {
    all: unset;
    cursor: pointer;
}

.close-window {
    @include close-x;

    .window-exhibitions & {
        right: $gutter/2;
    }

    .window-info & {
        bottom: calc(100% + 13px);
        right: 0;
        top: unset;
    }

}